<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Content</key>
		<string>Announcement</string>
		<key>ContentId</key>
		<integer>10</integer>
		<key>EditorAccess</key>
		<integer>0</integer>
		<key>ShowContentType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Content</key>
		<string>Assignment</string>
		<key>ContentId</key>
		<integer>58</integer>
		<key>EditorAccess</key>
		<integer>0</integer>
		<key>ShowContentType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Content</key>
		<string>Audio</string>
		<key>ContentId</key>
		<integer>165</integer>
		<key>EditorAccess</key>
		<integer>0</integer>
		<key>ShowContentType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Content</key>
		<string>Bulletin Board</string>
		<key>ContentId</key>
		<integer>433</integer>
		<key>EditorAccess</key>
		<integer>0</integer>
		<key>ShowContentType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Content</key>
		<string>Download</string>
		<key>ContentId</key>
		<integer>3</integer>
		<key>EditorAccess</key>
		<integer>0</integer>
		<key>ShowContentType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Content</key>
		<string>Widget</string>
		<key>ContentId</key>
		<integer>387</integer>
		<key>EditorAccess</key>
		<integer>0</integer>
		<key>ShowContentType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Content</key>
		<string>Event</string>
		<key>ContentId</key>
		<integer>5</integer>
		<key>EditorAccess</key>
		<integer>0</integer>
		<key>ShowContentType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Content</key>
		<string>Expectation</string>
		<key>ContentId</key>
		<integer>80</integer>
		<key>EditorAccess</key>
		<integer>0</integer>
		<key>ShowContentType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Content</key>
		<string>Gradebook</string>
		<key>ContentId</key>
		<integer>118</integer>
		<key>EditorAccess</key>
		<integer>0</integer>
		<key>ShowContentType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>Content</key>
		<string>Grading</string>
		<key>ContentId</key>
		<integer>120</integer>
		<key>EditorAccess</key>
		<integer>0</integer>
		<key>ShowContentType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>Content</key>
		<string>Grading Rubric</string>
		<key>ContentId</key>
		<integer>79</integer>
		<key>EditorAccess</key>
		<integer>0</integer>
		<key>ShowContentType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Content</key>
		<string>Link</string>
		<key>ContentId</key>
		<integer>2</integer>
		<key>EditorAccess</key>
		<integer>0</integer>
		<key>ShowContentType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Content</key>
		<string>News</string>
		<key>ContentId</key>
		<integer>6</integer>
		<key>EditorAccess</key>
		<integer>0</integer>
		<key>ShowContentType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Content</key>
		<string>Online Signup</string>
		<key>ContentId</key>
		<integer>111</integer>
		<key>EditorAccess</key>
		<integer>0</integer>
		<key>ShowContentType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>Content</key>
		<string>Photo</string>
		<key>ContentId</key>
		<integer>31</integer>
		<key>EditorAccess</key>
		<integer>0</integer>
		<key>ShowContentType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Content</key>
		<string>Roster</string>
		<key>ContentId</key>
		<integer>434</integer>
		<key>EditorAccess</key>
		<integer>0</integer>
		<key>ShowContentType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Content</key>
		<string>RSS Reader</string>
		<key>ContentId</key>
		<integer>41</integer>
		<key>EditorAccess</key>
		<integer>0</integer>
		<key>ShowContentType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Content</key>
		<string>Schedule</string>
		<key>ContentId</key>
		<integer>87</integer>
		<key>EditorAccess</key>
		<integer>0</integer>
		<key>ShowContentType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>Content</key>
		<string>Syllabus</string>
		<key>ContentId</key>
		<integer>78</integer>
		<key>EditorAccess</key>
		<integer>0</integer>
		<key>ShowContentType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Content</key>
		<string>Text</string>
		<key>ContentId</key>
		<integer>250</integer>
		<key>EditorAccess</key>
		<integer>0</integer>
		<key>ShowContentType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Content</key>
		<string>Topic</string>
		<key>ContentId</key>
		<integer>386</integer>
		<key>EditorAccess</key>
		<integer>0</integer>
		<key>ShowContentType</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Content</key>
		<string>Video</string>
		<key>ContentId</key>
		<integer>167</integer>
		<key>EditorAccess</key>
		<integer>0</integer>
		<key>ShowContentType</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
