<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>MFS Calendar</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.8.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>org.dwei.MFSCalendar</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.815075506998-5a7iamks0ir1td7rsmcc4fq8q1e1ios2</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>twitterkit-Kqprq5b6bVeEfcMAGoHzUmB3I</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2769</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>f9f1e5093a548340955ef1ace69696d9dce62af5</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Answers</string>
			</dict>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>Add events to calendar</string>
	<key>NSCameraUsageDescription</key>
	<string>Users may use their camera to take photos and send them to their friends.</string>
	<key>NSHealthClinicalHealthRecordsShareUsageDescription</key>
	<string>Your steps data will be used in the Step Challenge.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Your steps data will be used in the Step Challenge.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Your steps data will be used in the Step Challenge.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Users may share their location with their friends.</string>
	<key>NSLocationUsageDescription</key>
	<string>Users may share their location with their friends.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Users may share their location with their friends.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Users can save photos posted in the app to their phone</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>The app may use photo library to submit homework or send to friends.</string>
	<key>NSRemindersUsageDescription</key>
	<string>Add events to calendar</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
